p{
    font-size: 50px;
    color: brown;
}

.sponsors{

width:100%;
height: 500px; 
background-color: #ffffff;
box-shadow: 0 2px 20px rgba(0, 0, 0, .5);




}
img{
    padding: 20px;
    justify-content: center;
    display: inline;
}
